[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crossfit"]
	path = crossfit
	url = https://github.com/etiennepeyrot/crossfit-r
